
@{
    ViewBag.Title = "Failure";
    Layout = "~/Areas/User/Views/Shared/_LayoutUser.cshtml";
}

<h2>Payment Failure .Please click @Html.ActionLink("Here", "Index", "ShoppingCart") to go to continue payment </h2>

