

@{ ViewBag.Title = "OrderSuccess";
    Layout = "~/Areas/User/Views/Shared/_LayoutUser.cshtml"; }

<h4>Your order has been placed successfully. Please click @Html.ActionLink("Here", "Index", "ProductUser") to go to continue shopping</h4>

